datasets
.vscode
.devcontainer
bin/**
!bin/.gitkeep
.DS_Store
analysis.txt
gmon.out
camera_specs
2013_camera_specs
cameras
*.csv
*.py
build
CMakeFiles
Debug/**
Release/**
!Debug/.gitkeep
!Release/.gitkeep
!test/test.csv
cameras
sigmod_large_labelled_dataset.csv
cameras-small
*.tar.gz
